head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='app.css')
nav
  p
    a(href='/')  home

    a(href='/Contact') contactus 
h1 hello in our services 